[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotfiles-private"]
	path = dotfiles-private
	url = https://github.com/xuncheng/dotfiles-private.git
